﻿
@{
    ViewBag.Title = "Crear un empleado";
}


@using (Html.BeginForm("Submit", "Home", FormMethod.Post))
{

    <form class="form-horizontal">
        <div class="card">
            <div class="card-header">
                <h3><strong>Registro de empleados</strong></h3>
                <p class="error">@ViewBag.Message</p>
            </div>
            <div class="card-body">
                <div class="control-group">

                    <div class="form-group controls col-md-12">
                        <div class="col-md-6">
                            <label>Primer Nombre</label>
                            <input type="text" class="form-control" name="FirstName" required="required" maxlength="20" pattern="^[A-Z]+$" title="Solo caracteres en mayuscula" />
                        </div>
                        <div class="col-md-6">
                            <label>Segundo Nombre</label>
                            <input type="text" class="form-control" name="SecondName" maxlength="50" pattern="^[A-Z ]+$" title="Solo caracteres en mayuscula" />
                        </div>
                        <div class="col-md-6">
                            <label>Primer Apellido</label>
                            <input type="text" class="form-control" name="Surname" required="required" maxlength="20" pattern="^[A-Z ]+$" title="Solo caracteres en mayuscula" />
                        </div>
                        <div class="col-md-6">
                            <label>Segundo Apellido</label>
                            <input type="text" class="form-control" name="SecondSurname" required="required" maxlength="20" pattern="^[A-Z ]+$" title="Solo caracteres en mayuscula" />
                        </div>
                        <div class="col-md-6">
                            <label>Tipo de identificación</label>
                            @Html.DropDownList("IdentificationTypeId", (IEnumerable<SelectListItem>)ViewBag.IdentificationTypes, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Código de identificación</label>
                            <input type="text" class="form-control" name="Identification" required="required" maxlength="20" pattern="^[A-Za-z0-9]+$" title="Solo caracteres en mayuscula" />
                        </div>
                        <div class="col-md-6">
                            <label>País</label>
                            @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)ViewBag.Countries, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Area</label>
                            @Html.DropDownList("AreaId", (IEnumerable<SelectListItem>)ViewBag.Areas, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Fecha de ingreso</label>
                            <input type="date" class="form-control" name="AdmissionDate" required="required" />
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    @Html.ActionLink("Volver", "Index")
                    <input type="submit" value="Submit" class="btn btn-sm btn-info" />
                </div>
            </div>
        </div>

    </form>

}

