﻿@model PagedList.IPagedList<Cidenet.Web.Models.Management.Employee.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>



    <div class="form-horizontal">
        <hr />
        <p class="error">@ViewBag.Message</p>
        <div class="form-group">

            @Html.ActionLink("Agregar empleado", "Create")

            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find: <input type="text" name="Search" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        @Html.ActionLink("Recuperar lista", "Index")
                    </p>
                </div>
            </form>
            <table class="table table-responsive" style="width:400px">
                <tr>
                    <th>
                        Primer nombre
                    </th>
                    <th>
                        Otros nombres
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Segundo apellido
                    </th>
                    <th>
                        Tipo de identificación
                    </th>
                    <th>
                        Identificación
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        País
                    </th>
                    <th>
                        Area
                    </th>
                    <th>
                        Fecha de ingreso
                    </th>
                    <th>
                        Fecha de registro
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Acciones
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondSurname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentificationType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Area.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionDateToDisplay)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationDateToDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteConfirmed", new { id = item.Id },
                         new { onclick = "return confirm('Está seguro de que desea eliminar el empleado?');" })
                        </td>
                    </tr>
                }
            </table>

            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageNumber = Model.PageNumber }))
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Employees
        </div>
    </div>

</body>

</html>